section.new-tweet {
    margin: 2em;
    border: 2px solid #e8e5e5;
    background-color: #eee;
    border-radius: 5px;
    padding: 1em;
    height: 180px;
    
}
section.new-tweet h2 {
    text-align: left;
    border-bottom: 1px solid black; 
    }
section textarea {
    border: 1px solid #989696;
    width: 100%;
    padding: 0.5em;
    }
section input{
    float:left;
    border: 1px solid #989696;
    background-color: #eee;
}
section .counter{
    float:right;
    margin-right: 5px;
    font-family: 'Roboto Condensed';
    }
section .notValid{
    color: red;
}
section .inputTooLarge {
    text-align: center;
    margin-top: 0.5em;
    display: none;
    color: red;
}
section .inputEmpty {
    text-align: center;
    margin-top: 0.5em;
    display: none;
    color: red;
}