section #tweet{
    margin-top: 260px;
  }
article.tweet{
    margin: 2em;
    border: 2px solid #e8e5e5;
    border-radius: 5px;
}
article.tweet header{
    background-color: rgba(231, 235, 240, 0.836);
    display: flex;   
}
article.tweet header img{
    margin: 0.5em;  
    border-radius: 10px;
}
article .tweet header h2{
    margin: 0.5em;  
}
article.tweet header h3{
    margin-left: auto;
    order: 2;
    padding: 0.4rem;
}
article .tweet-box {
    display: flex;
    justify-content: initial;
    padding: 3rem 1em;
    border-bottom: 1px solid;
}
article footer{
    padding: 1em;
    display: flex;
    justify-content: flex-start;

}
article footer a{
    margin-left: auto;
    order: 1;
    padding-left: 0.5em;
    display: none;
    color:#20B2AA;
}
article:hover{
    border: 2px solid #0f0f0f;
}
article:hover a{
    display: block;
}
